<div class='page-header'>
  <h2>Schedule Reminders</h2>
</div>
<div class="main-container">
  <div class="row">
    <div class="center-block">
      <h1>Hello,</h1>
      <p>Welcome to Schedule Reminders.</p>
      <p>Here you can create schedules and send reminders of the same to specified users.</p>
      <% if user_signed_in? %>
        <div class="col-md-8 text-center">
          <%= link_to 'Schedules', "javascript:void(0);", class: 'btn btn-info btn-width' %>
        </div>
      <% else %>
        <div class="col-md-8 text-center">
          <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-info btn-width' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
